<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Clock-App</title>
    <script src="/requester.js" charset="utf-8"></script>
    <link rel="stylesheet" href="/css/master.css">
  </head>
  <body>
    <h1>Device Hour: </h1>
    <p id="deviceHour">Device</p>
    <h1>Server Hour: </h1>
    <p id="serverHour">Server</p>
  </body>
</html>
